* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  /* display: inline-block; */
  /* width: 100px; */
  flex-basis: 100px;
  height: 100px;
  background-color: blueviolet;
  padding: 10px;
  border: 6px solid gold;
  margin: 10px;
}

.item:nth-child(2) {
  flex-basis: 50px;
  height: 50px;
  align-self: flex-end;
  order: 4;
}

/* .item:last-child {
  width: 80px;
  height: 80px;
} */

/* padding-top: 16px;
  padding-right: 42px;
  padding-bottom: 16px;
  padding-left: 42px; */

/* padding: 16px 42px 16px 42px; */

/* padding: 16px 42px; */
