.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--color-primary-light);
}

.format-text {
    font-weight: 300;
    font-size: 14px;
    color: var(--color-primary-light);
}

.format-text p {margin-bottom: 0;}

.formats-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 444px;
    width: 100%;
    max-width: 350px;
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    transition: transform 0.2s;
}

.format-card:hover {
    transform: scale(1.02);
}

.format-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}