.contact-section {
    padding-bottom: 0;

    @media screen and (min-width: $bp-desktop) {
        padding-bottom: 96px;
    }

        &__title {
            text-align: center;
            margin-bottom: 8px;

            @media screen and (min-width: $bp-tablet) {
                text-align: start;
                margin-bottom: 16px;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (min-width: $bp-desktop) {
                flex-direction: row;
                gap: 32px;
            }
        }

        &__text {
            font-size: 14px;
            margin-bottom: 24px;

            @media screen and (min-width: $bp-tablet) {
                margin-bottom: 42px;
                font-size: 18px;
            }
        }

        &__form-field {
            margin-bottom: 16px;

            @media screen and (min-width: $bp-tablet) {
                margin-bottom: 24px;
            }
        }

        &__button {
            display: block;
            margin: 0 auto;

            @media screen and (min-width: $bp-tablet) {
                margin: 0 auto 16px;
            }
        }

        &__form-terms {
            display: none;

            @media screen and (min-width: $bp-tablet) {
                display: block;
            }
        }

        &__map {
            flex-shrink: 0;
            height: 176px;
            border: none;
            margin: 0 -24px;

            @media screen and (min-width: $bp-desktop) {
                width: 600px;
                height: 595px;
                border-radius: 16px;
            }
        }
}