.footer {
    padding: 32px 0;
    position: relative;
    background-image: url("../Images/footer-background.png");
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer::before,
.footer::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
}

.footer::before {
    background-image: url(/Images/decor-bread-small.png);
    width: 180px;
    height: 120px;
    left: 0;
}

.footer::after {
    background-image: url(/Images/decor-bread-large.png);
    width: 380px;
    height: 187px;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-link {
    margin-bottom: 16px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 16px;
    transition: color 0.2s;
}

.address-link:hover {
    color: var(--color-brand);
}

.address-icon {
    fill: var(--color-primary-light);
    transition: fill 0.2s;
}

.address-icon:hover {
    fill: var(--color-brand);
}

.address-icons {
    display: flex;
    gap: 22px;
}

.address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
}